# 모든 파일 무시
*

# 예외 처리: .cpp 파일
!*.cpp

# 예외 처리: .gitignore 파일 (자기 자신)
!.gitignore

# 예외 처리: 특정 디렉토리 내의 .cpp 파일
!*/   
!*/**/*.cpp

# 예외 처리: .git 디렉토리 (Git 내부 파일)
!.git/
0x0B_Recursion/0x0B_Recursion/BOJ11729_하노이 탑 이동 순서(G5).cpp
